/vendor
/node_modules
/.env
/.env.*
!.env.example
/.venv
.env.local
/storage/app/firebase-credentials.json
/storage/app/public
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
.DS_Store
Thumbs.db
docker-compose.yml
docker-compose.override.yml
.idea/
*.log
.phpunit.result.cache
